doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div Logo 
        nav     
            ul 
                li 
                    a(href='/') Home
                li
                    a(href='/cart') Cart
                li Log in
        block main
            div Product 1
            div Product 2 
            div Product 4
            div Product 5
        footer
            p Footer